body{
    border: 1px solid black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 0;
}

#container{
    display: inline-block;
    /* align-content: center; */
    /* justify-content: center; */
    
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid red;
    /* margin: 0 auto;; */
}